
@{
    ViewData["Title"] = "CheckoutSuccec";
    Layout = "_layout4";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Payment completed Thank You🤎</h1>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back To Shop</a>

